@inherits LayoutComponentBase
@using SistemaAduanero.Web.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div class="page @(menuColapsado ? "menu-minimized" : "")">
    <div class="sidebar">
        <NavMenu ToggleSidebar="ToggleMenu" MenuColapsado="@menuColapsado" />
    </div>

    <main>
        <div class="top-row px-4 auth-bar d-flex justify-content-between align-items-center">

           

            <div>
                <AuthorizeView>
                    <Authorized>
                        <span class="me-3 text-dark">
                            Hola, <strong>@context.User.Identity?.Name</strong>
                        </span>

                        <button class="btn btn-outline-danger btn-sm" @onclick="Salir">
                            Cerrar Sesión <i class="bi bi-box-arrow-right"></i>
                        </button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="login" class="btn btn-link">Ingresar</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // Variable para controlar el estado del menú
    private bool menuColapsado = false;

    private void ToggleMenu()
    {
        menuColapsado = !menuColapsado;
    }

    private async Task Salir()
    {
        var customAuthProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthProvider.CerrarSesion();
        NavManager.NavigateTo("/login", forceLoad: true);
    }
}