@inherits LayoutComponentBase
@using SistemaAduanero.Web.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div class="page @(menuColapsado ? "menu-minimized" : "")">
    <div class="sidebar">
        <NavMenu ToggleSidebar="ToggleMenu" MenuColapsado="@menuColapsado" />
    </div>

    <main>
        <div class="top-row px-4 auth-bar d-flex justify-content-between align-items-center">

           

            <div>
                <AuthorizeView>
                    <Authorized>
                        <span class="me-3 text-dark">
                            Hola, <strong>@context.User.Identity?.Name</strong>
                        </span>

                        <button class="btn btn-outline-danger btn-sm" @onclick="Salir">
                            Cerrar Sesión <i class="bi bi-box-arrow-right"></i>
                        </button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="login" class="btn btn-link">Ingresar</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // Variable para controlar el estado del menú
    private bool menuColapsado = false;
    private bool verifyTerms = true;
    [Inject] private SistemaAduanero.Web.Services.TermsStateService TermsState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        NavManager.LocationChanged += async (s, e) => {
            await VerificarTerminos();
            await InvokeAsync(StateHasChanged);
        };
        await VerificarTerminos();
    }

    private async Task VerificarTerminos()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            if (!NavManager.Uri.Contains("/terminos") && !NavManager.Uri.Contains("/login"))
            {
                if (!TermsState.HasAcceptedTerms)
                {
                    NavManager.NavigateTo("/terminos");
                }
            }
        }
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= async (s, e) => { await VerificarTerminos(); };
    }

    private void ToggleMenu()
    {
        menuColapsado = !menuColapsado;
    }

    private async Task Salir()
    {
        var customAuthProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthProvider.CerrarSesion();
        NavManager.NavigateTo("/login", forceLoad: true);
    }
    
    // Clase auxiliar para la respuesta del endpoint
    public class TerminosResponse
    {
        public bool Aceptado { get; set; }
    }
}