@inherits LayoutComponentBase
@using SistemaAduanero.Web.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth-bar">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3 text-dark">
                        Hola, <strong>@context.User.Identity?.Name</strong>
                    </span>

                    <button class="btn btn-outline-danger btn-sm" @onclick="Salir">
                        Cerrar Sesión <i class="bi bi-box-arrow-right"></i>
                    </button>
                </Authorized>
                <NotAuthorized>
                    <a href="login" class="btn btn-link">Ingresar</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Salir()
    {
        // Convertimos el proveedor genérico a NUESTRO proveedor personalizado
        var customAuthProvider = (CustomAuthStateProvider)AuthStateProvider;

        // Ejecutamos la limpieza
        await customAuthProvider.CerrarSesion();

        // Redirigimos al Login forzando la recarga para limpiar memoria
        NavManager.NavigateTo("/login", forceLoad: true);
    }
}