<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SistemaAduanero.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <style>
        /* PARCHE CORREGIDO: Solo afecta al Menú Lateral (.sidebar) */

        /* 1. Sombra y Borde Activo (SOLO EN SIDEBAR) */
        /* Agregamos ".sidebar" al inicio para que no toque tus Modales/Tabs */
        .sidebar .nav-item .nav-link:hover {
            background-color: rgba(255,255,255,0.1) !important;
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        }

        .sidebar .nav-item .nav-link.active {
            background-color: rgba(255,255,255,0.15) !important;
            box-shadow: 0 4px 8px rgba(0,0,0,0.4);
            border-left: 4px solid #6ea8fe !important;
        }

        /* 2. Forzar centrado cuando está minimizado */
        .menu-minimized .sidebar .nav-item.ps-5 {
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: flex;
            justify-content: center;
        }

        /* 3. Ocultar textos cuando está minimizado */
        .menu-minimized .sidebar .nav-text,
        .menu-minimized .sidebar .bi-chevron-down,
        .menu-minimized .sidebar .bi-chevron-right {
            display: none !important;
        }
    </style>
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
    <script>
        window.descargarArchivoDesdeBytes = (filename, base64Content) => {
            var link = document.createElement('a');
            link.download = filename;
            link.href = "data:application/pdf;base64," + base64Content;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</body>

</html>
